[alias]
    l = log --graph --decorate --all
    lpull = log @{1}..
    ll = log --graph --decorate --all --stat
    oneline = log --oneline --graph --decorate --abbrev-commit
    mas = log --oneline --graph --decorate --left-right master...origin/master
    who = shortlog -sne
    s = status
    stqtus = status
    co = checkout
    d = diff
    dpull = diff @{1}..
    dic = diff --cached
    merge = merge --no-ff
    current = rev-parse --abbrev-ref HEAD
    p = push
    c = !git current
    com = commit -a -m
    dw = diff --ignore-space-at-eol -b -w --ignore-blank-lines

[user]
    name = Rémi Weng
    email = ixartz@users.noreply.github.com

[color]
    ui = true

[push]
    default = current

[pull]
    default = current

[core]
    excludesfile = ~/config/git/.gitignore
    pager = diff-so-fancy | less --tabs=2 -RX --pattern '^(Date|added|deleted|modified): '
